/*This file include the specific CSS code for the index page of zerowaste site*/

/*BANNER*/
header{
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-position:center;
    height: 328px;
    padding: 48px 32px 180px 128px;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 72px;
}
/*STORY*/
h1{
    text-align: center;
    color: var(--sitecolor);
    margin-bottom: 64px;
    font-size: 2rem;
}
.story{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--sitecolor);
}
.paragraph{
    font-size: 0.9rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 32px;
    margin-right: 32px;
}
.story img{
    display: inline-block;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 88%; 
    margin-top: 24px;
}
@media(max-width: 940px){
    header{
        background-image: url(../images/banner2.jpg);
        background-size: cover;
        background-position: center;
        height: 248px;
        padding: 24px 32px 180px 104px;
        margin-top: 112px;
        color: var(--white);
        font-size: 2rem;
        font-weight: 500;
    }
    h1{
        font-size: 3rem;
        margin-top: 88px;
    }
    .story{
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .story img{
        width: 50%;
        margin-left: 264px;
    }
    .paragraph{
        margin-left: 102px;
        margin-right: 102px;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        text-align: center;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 32%;
        margin-left: 384px;
        margin-bottom: 32px;
    }
    .articles p{
        height: 56px;
        width: 500px;
        margin-left: 312px;
    }
    .articles p a{
        display: inline-block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .articles .button{
        font-size: 3rem;
        width: 424px;
        height: 64px;
        padding-top: 64px;
        margin-top: 64px;
        margin-bottom: 128px;
    }
    .breadcrumbs{
        display: none;
    }
}
@media(max-width: 530px) {
    h1{
        font-size: 4rem;
        margin-top: 88px;
    }
    .story{
        display: grid;
        grid-template-columns: 1fr; 
    }
    .story img{
        width: 50%;
        margin-left: 264px;
    }
    .paragraph{
        margin-left: 102px;
        margin-right: 102px;
        font-size: 2rem;
        line-height: 3rem;
    }
}

































