/*This file include the specific CSS code for maps page of zerowaste site.*/

.breadcrumbs a{
    display: inline-block;
    margin-top: 48pt;
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;  
}

/*MAPS*/
h1{
    font-size: 2rem;
    text-align: center;
    color: var(--sitecolor);
}
h3{
    font-size: 1.2rem;
    color: var(--sitecolor);
 
}

.left-btn{
    display: inline-block;
    background: var(--sitecolor);
    color: var(--white);
    padding: 16px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: var(--shadow);
    width: 248px;
    text-align: center;
    margin: 16px 8px 64px 272px;
}
.right-btn{
    display: inline-block;
    background: var(--sitecolor);
    color: var(--white);
    padding: 16px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: var(--shadow);
    width: 248px;
    text-align: center;
    margin: 16px 272px 64px 8px; 
}

/*GROUPS*/

.button-maps{
    display: inline-block;
    background: var(--sitecolor);
    color: var(--white);
    padding: 16px;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: var(--shadow);
    width: 224px;
    text-align: center;
}

.articles p{
    height: 40px;
    margin: 0px;
    font-size: 1rem;
}

@media(max-width: 600px){

    h1{
        font-size: 4rem;
        margin-top: 168px;
    }
    h3{
        font-size: 2.4rem;
    }
    .left-btn{
        display: inline-block;
        background: var(--sitecolor);
        color: var(--white);
        padding: 16px;
        border-radius: 15px;
        text-decoration: none;
        box-shadow: var(--shadow);
        width: 488px;
        height: 72px;
        text-align: center;
        font-size: 2.4rem;
        margin: 8px 8px 32px 24px;
    
    }
    .right-btn{
        display: inline-block;
        background: var(--sitecolor);
        color: var(--white);
        padding: 16px;
        border-radius: 15px;
        text-decoration: none;
        box-shadow: var(--shadow);
        width: 488px;
        height: 72px;
        text-align: center;
        font-size: 2.4rem;
        margin: 8px 24px 32px 8px;
    }
    .contacts{
        margin-top: 72px;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 56px;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 50%;
        margin-left: 272px;
        margin-bottom: 32px;
    }
    .articles p a{
        font-size: 3rem;
    }
    .button{
        width: 300px;
        height: 56px;
        font-size: 2.4rem;
        margin-left: 392px;
        margin-top: 32px;
        margin-bottom: 88px;
    }
    .menu-footer ul a{
        display: block;
        font-size: 2rem;
    }
    .right-footer{
        margin-right: 144px;
    }
   
}

@media(max-width: 290px) {
    .paragraph{
        margin-left: 100px;
        width: 648px;
    }
    h1{
        text-align: left;
    }
    .contacts{
        margin: 0px;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 50%;
        margin-left: 104px;
    }
    .articles p{
        width: 728px;
        margin-left: 32px;
    }
    .button{
        margin-left: 224px;
    }
    
    
    .right-footer{
        margin-right: 0px;
    }
}
