:root {
    --sitecolor: #537073;
    --black: #121212;
    --white: #ffffff;
    --shadow: 0px 1px 2px #537073;
}
html{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    line-height: 24px;
    font-size: 16pt;
    color: var(--sitecolor);
    text-align: justify;
}
img{
    max-width: 100%;
}
.wrapper{
    display: grid;
    grid-gap: 30px;
    width: 1138px;
    margin: auto;
    /*margin: 0px 208px;*/
}
 
/*MENU*/


        /*mobile menu*/
.mobile-menu a{
    display: inline-block;
    margin: 8px 24px;
    
}
.submenu{
    line-height: 0.6rem;
}
.submenu-items{
    font-size: 1rem;
    margin-left: 16px;
}



        /*web menu*/
ul{
    list-style: none;
    padding: 0px;
    overflow: hidden;
    background-color: var(--sitecolor);
    border-radius: 16px;
    box-shadow: var(--shadow);
    font-size: 1.2rem;
}

li {
  float: left;
}
li a, .dropdown-button{
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
}
li a:hover, .dropdown:hover{
    font-weight: 500;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--sitecolor);
    min-width: 160px;
    box-shadow: var(--shadow);
}
.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 400;    
}
.dropdown-content a:hover {
    background-color: var(--sitecolor); 
}
.dropdown:hover .dropdown-content {
  display: block;
  color: var(--white);
}
.menu{
    display: flex;
    flex: 8;
    position: fixed;
    top: 0;
}
.menu .mobile-menu{
    display: none;
}
.right{
    margin-right: 408px;
}

/*ARROWS*/
.arrows{
    margin-left: 1144px;
    opacity: 0.6;
    position: fixed;
    bottom: 0;
    margin-bottom: 72px;
}

.breadcrumbs a{
    display: inline-block;
    margin-top: 48pt;
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;  
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 64px;
}
h3{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    margin-right: 40px;
}
article p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 72px;
    text-indent: 4rem;
    margin-left: 40px;
    margin-right: 40px;
}
article .img-four{
    display: flex;
    flex: 4;
}
.img-four img{
    display: block;
    border-radius: 50%;
    width: 90%;
    margin-top: 64px;
}
article .img-two{
    display: flex;
    flex: 2;
}
.img-two img{
    display: block;
    border-radius: 50%;
    width: 100%;
    margin-top: 64px;
    margin-left: 112px;
}
.img-one img{
    display: block;
    border-radius: 50%;
    margin-top: 64px;
    width: 64%;
    margin-left: 216px;
    margin-bottom: 88px;
}

/*CONTACTS*/
.contacts a{
    display: block;
    color: var(--sitecolor);
    margin: 32px 16px 48px 16px;
}
.contacts{
    display: flex;
    flex: 3;
    margin: auto;
}
/*ARTICLES*/
.most-read{
    margin-bottom: 8px;
}
.articles{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}
.articles p a{
    display: block;
    text-decoration: none;
    color: var(--sitecolor);
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
}
.articles img{
    display: block;
    border-radius: 50%;
    width: 80%;
    margin-left: 24px;
}
.button{
    display: inline-block;
    background: var(--sitecolor);
    color: var(--white);
    padding: 16px;
    margin: 32px;
    margin-top: 0px;
    font-size: ;
    border-radius: 15px;
    text-decoration: none;
    box-shadow: var(--shadow);
}
.articles p{
    height: 72px;
    padding-top: 16px;
}

/*footer*/
.breadcrumbs a{
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
}
footer{
    margin-top: 88px;
}

.right-footer{
    margin-right: 456px;
}
.menu-footer{
    opacity: 0.6;
}

@media(max-width:600px){
    .menu .web-menu{
        display: none;
    }
    
    /*mobile menu*/
    .menu .mobile-menu{
        display: grid;
        grid-template-columns: 7fr 1fr 1fr 1fr;
        width: 100%;
    }
    h1{
        font-size: 3rem;
        margin-top: 208px;
    }
    h3{
        font-size: 1.6rem;
    }
    article p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    article .img-four{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 112px;
    }
    .img-four img{
        width: 75%;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        text-align: center;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 32%;
        margin-left: 384px;
        margin-bottom: 32px;
    }
    .articles p{
        height: 56px;
        width: 500px;
        margin-left: 312px;
    }
    .articles p a{
        display: inline-block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .articles .button{
        font-size: 3rem;
        width: 424px;
        height: 64px;
        padding-top: 64px;
        margin-top: 64px;
        margin-bottom: 128px;
    }
    .breadcrumbs{
        display: none;
    }
}
}



