/*This file include the specific CSS code for tips aricle of zerowaste site.*/

.breadcrumbs a{
    display: inline-block;
    margin-top: 48pt;
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;  
}

h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 64px;
}
h3{
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    margin-right: 40px;
}
article p{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 72px;
    text-indent: 4rem;
    margin-left: 40px;
    margin-right: 40px;
}
article .img-four{
    display: flex;
    flex: 4;
}
.img-four img{
    display: block;
    border-radius: 50%;
    width: 90%;
    margin-top: 64px;
}
article .img-two{
    display: flex;
    flex: 2;
}
.img-two img{
    display: block;
    border-radius: 50%;
    width: 100%;
    margin-top: 64px;
    margin-left: 112px;
}
.img-one img{
    display: block;
    border-radius: 50%;
    margin-top: 64px;
    width: 64%;
    margin-left: 216px;
    margin-bottom: 88px;
}

@media(max-width:600px){

    h1{
        font-size: 3rem;
        margin-top: 208px;
    }
    h3{
        font-size: 1.6rem;
    }
    article p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    article .img-four{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 112px;
    }
    .img-four img{
        width: 75%;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        text-align: center;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 32%;
        margin-left: 384px;
        margin-bottom: 32px;
    }
    .articles p{
        height: 56px;
        width: 500px;
        margin-left: 312px;
    }
    .articles p a{
        display: inline-block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .articles .button{
        font-size: 3rem;
        width: 424px;
        height: 64px;
        padding-top: 64px;
        margin-top: 64px;
        margin-bottom: 128px;
    }
    .breadcrumbs{
        display: none;
    }
}
}



