/*This file include the specific CSS code for tips aricle of zerowaste site.*/

.breadcrumbs a{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    font-size: 1em;  
    margin-top: var(--largest-gap);
    margin-left: var(--smallest-gap);
}
article{
    margin: 0 var(--largest-gap);
    color: var(--sitecolor);
}
h1{
    text-align: center;
    color: var(--sitecolor);
    margin: var(--large-gap);
    font-size: 2em;
}
h3{
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    font-weight: 200;
    margin-right: var(--largest-gap);
}
article p{
    font-size: 1em;
    margin: var(--medium-gap) var(--largest-gap);
}
article .img-four{
    display: flex;
    flex: 4;
}
.img-four img{
    display: block;
    border-radius: 50%;
    width: 80%;
    margin: var(--medium-gap) var(--medium-gap);

}
article .img-two{
    display: flex;
    flex: 2;
}
.img-two img{
    display: block;
    border-radius: 50%;
    width: 70%;
    margin: var(--medium-gap) var(--largest-gap);
}
@media(max-width:600px){
    h1{
        font-size: 3rem;
        margin-top: 208px;
    }
    h3{
        font-size: 1.6rem;
    }
    article p{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    article .img-four{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 112px;
    }
    .img-four img{
        width: 75%;
    }
    .articles{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 32px;
        text-align: center;
    }
    .articles img{
        display: block;
        border-radius: 50%;
        width: 32%;
        margin-left: 384px;
        margin-bottom: 32px;
    }
    .articles p{
        height: 56px;
        width: 500px;
        margin-left: 312px;
    }
    .articles p a{
        display: inline-block;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .articles .button{
        font-size: 3rem;
        width: 424px;
        height: 64px;
        padding-top: 64px;
        margin-top: 64px;
        margin-bottom: 128px;
    }
    .breadcrumbs{
        display: none;
    }
}




